// Mixins


// Media Queries
@mixin for-phone-only {
    @media (max-width: 575.9px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 576px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 768px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 992px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-extra-big-desktop-up {
    @media (min-width: 1400px) { @content; }
  }

// Background 

// Mixin
@mixin background-image($image) {
  background: {
    image: linear-gradient(#09090999, #000000bd), $image;
    repeat: no-repeat;
    position: center center;
  }
  background-color: black;
  background-size: cover;
}